<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>使用render函数完成一个留言列表</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="app" v-cloak style="width: 500px; margin: 0 auto;">
    <div class="message">
      <v-input v-model="username"></v-input>
      <v-textarea v-model="message" ref="message"></v-textarea>
      <button @click="handleSend">发布</button>
    </div>
    <list :list="list" @reply="handleReply"></list>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="input.js" charset="utf-8"></script>
  <script src="list.js" charset="utf-8"></script>
  <script src="index.js" charset="utf-8"></script>
</body>
</html>
